################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.android
/.angular-config.json
/.bashrc
/.bash_history
/.bash_profile
/.docker
/.dotnet
/.emulator_console_auth_token
/.git-for-windows-updater
/.gitconfig
/.lesshst
/.librarymanager
/.node_repl_history
/.nuget
/.templateengine
/.viminfo
/.vs
/.vscode
/.wdc
/3D Objects
/Aca3Log
/angular
/AppData
/Contacts
/Documents
/Downloads
/Favorites
/IntelGraphicsProfiles
/khane.html
/Links
/Music
/MusicMakerAsio.toml
/Nlog
/node_modules
/npm-cache
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{2a95e3c0-4595-11ed-9f23-005056c00008}.TM.blf
/NTUSER.DAT{2a95e3c0-4595-11ed-9f23-005056c00008}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{2a95e3c0-4595-11ed-9f23-005056c00008}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/onecoremsvsmon
/OneDrive
/package-lock.json
/package.json
/Saved Games
/Searches
/source
/test.html
/TestPage2.html
/Videos
/vsdbg
